<header>
	<div class="menu">
		<div class="credit">
			<span class="credittext">
				<p>SirNightOwl's</p>
                <p class="cred">Apex Utilities</p>
			</span>
				
				
			<div class="badge">
				<div class="inner">
                    
                    {% include "components/icons/apex.svg" %}
                   
					
					
					
				</div>
				
				</div>
			
			
		</div>
		<a href="/apex-legends/public/index.html"><span>Legends</span></a>
		<a href="/apex-legends/public/weapons/index.html"><span>Weapons</span></a>
		<a href="/apex-legends/public/maps/index.html"><span>Maps</span></a>
         <a href=""><span>Streamers</span></a>
		
		<div class="buffer">
			
			
		</div>
		
	</div>
	
</header>