.titlebar {color: #fff; text-transform: uppercase; font-size: 2rem; width: 100%; }

.weapons-card {background: rgba(0,0,0,0.8); color: #fff; width: 370px; margin: 10px; border: 3px solid #454545;}

.weapons-card h3 {text-transform:uppercase; font-size: 1.5rem; margin: 0px; text-align: right;}
.weapons-card h5 {text-transform:uppercase; font-size: 0.75rem; margin: 0px; }
.weapons-card h4 {text-align: center; text-transform:uppercase; width: 100%; 
    margin-bottom: 6px;
}

.weapons-card .row {display: flex; padding: 0px 5px; font-size: 14px; }
.weapons-card .row .col-md-6{padding: 5px 10px; margin: 2px;}
.col-md-6 {
    flex: 0 0 auto;
    width: 50%;
}
.col-md-3 {
    flex: 0 0 auto;
    width: 25%;
}

.col-md-2 {
    flex: 0 0 auto;
    width: 20%;
}

.weapons-card .col-md-2 {
    text-align: center;
}


.feat-img {text-align: center;  position: relative;

    img {    margin: auto auto;}
    .img-frame {width: calc(100% - 70px); float: right; display:flex; flex-direction: column; justify-content: center; align-items: center;     height: 220px;}
    p {width: 100%; display: block; margin-top: auto;}
}
.weapons-card .row .col-md-6:first-child {background: rgba(0,0,0,0.5); text-align: right;}


.attachments {display: flex; align-items:center; justify-content: center; flex-wrap: wrap;}
.attachment { box-sizing: border-box; display: inline-flex; background: rgba(0,0,0,0.2); border: 2px solid #ccc; margin: 2px; padding: 10px;
    svg {width: 28px; height: 28px;}
}


$meterguide: #cfcfcf;

.meter {float: left; position: relative; top: 0; border-left: 2px solid $meterguide; left: 36px;}
.meter svg{display: block}

.meter .lab {position: absolute; font-size: 12px; text-transform: uppercase; left: -30px;top:-10px;}
.meter .lab:nth-child(2) {position: absolute; top:102px;}
.meter .lab:nth-child(3) {position: absolute; top:210px;}
.meter .lab {position: absolute;}
.meter .guide {position: absolute; width: 6px; left: -4px; height: 2px; display: block; background: $meterguide; top:-2px; width: 12px;}
.meter .guide2 {top: 70px;}
.meter .guide3 {    top: 142px;}
.meter .guide4 {top: 214px;}

$terrible:#A40D16;
$bad:#CF5130;
$average:#FFE70B;
$good:#107819;
$great:#10DF23;

.meter[data-clo1="1"] .clo1{fill: $terrible;}
.meter[data-clo1="2"] .clo1{fill: $bad;}
.meter[data-clo1="3"] .clo1{fill: $average;}
.meter[data-clo1="4"] .clo1{fill: $good;}
.meter[data-clo1="5"] .clo1{fill: $great;}

.meter[data-clo2="1"] .clo2{fill: $terrible;}
.meter[data-clo2="2"] .clo2{fill: $bad;}
.meter[data-clo2="3"] .clo2{fill: $average;}
.meter[data-clo2="4"] .clo2{fill: $good;}
.meter[data-clo2="5"] .clo2{fill: $great;}

.meter[data-mid1="1"] .mid1{fill: $terrible;}
.meter[data-mid1="2"] .mid1{fill: $bad;}
.meter[data-mid1="3"] .mid1{fill: $average;}
.meter[data-mid1="4"] .mid1{fill: $good;}
.meter[data-mid1="5"] .mid1{fill: $great;}

.meter[data-mid2="1"] .mid2{fill: $terrible;}
.meter[data-mid2="2"] .mid2{fill: $bad;}
.meter[data-mid2="3"] .mid2{fill: $average;}
.meter[data-mid2="4"] .mid2{fill: $good;}
.meter[data-mid2="5"] .mid2{fill: $great;}

.meter[data-far1="1"] .far1{fill: $terrible;}
.meter[data-far1="2"] .far1{fill: $bad;}
.meter[data-far1="3"] .far1{fill: $average;}
.meter[data-far1="4"] .far1{fill: $good;}
.meter[data-far1="5"] .far1{fill: $great;}

.meter[data-far2="1"] .far2{fill: $terrible;}
.meter[data-far2="2"] .far2{fill: $bad;}
.meter[data-far2="3"] .far2{fill: $average;}
.meter[data-far2="4"] .far2{fill: $good;}
.meter[data-far2="5"] .far2{fill: $great;}





.flex-row {display: flex; flex-wrap: wrap;}
.clear {clear: both; float: none; width: 100%;}

.damage {margin-bottom: 20px;}

.damage-labels > div {color: #817F80; padding-bottom: 5px;}

.stats-row {display: flex; border-bottom: 2px solid #817F80; width: 90%; margin: 5px auto;
    h5 {width: 100px; text-align: left; margin-right: 12px;     line-height: 150%; color: #817F80;}
    span{margin-right: 10px; width: 36px; font-weight: bold;}
    span.grey{color: #a8a8a8;}
    span.blue{color: #51a8d6;}
    span.purple{color: #b237c8;}
    &:last-child{border-bottom: 0px solid #817F80;}
}



