$film : #d44040;
$tvshow : #9B4AFB;
$game : #67A1E2;
$song : #F8B34C;
$book : #01C271;



body {background: #3F4346; font-family: 'Nunito', sans-serif;}

button#info {position: fixed; top: 10px; right: 10px;}


.h1, h1 {
    font-size: 2.25rem !important;
}
.lead {color: #a7a7a7;}

#actions {position: fixed; display: flex;
bottom:0px; left:0; width: 100%; background: #252A34; padding: 10px 0px;
	button {
		width: 20%; 
		height: 70px; display: flex; justify-content: center; align-items: center; flex-wrap: wrap;
		svg {width:32px; fill: #fff; margin-right: 6px; margin: 0 auto;}
		span {width: 100%; display: block; font-size: 14px;}
	}
	button.btn{
		font-weight: 600;
	color: #fff;
	border-radius: 0;
	
	&:hover, &:focus { text-decoration: underline;}
}
	
	#getfilm { 
		&:hover, &:focus {background: $film; 	color: #000; 
			svg {fill: #000;}
		}
	}
	#getshow { 
		&:hover, &:focus {background: $tvshow; 	color: #000; 
			svg {fill: #000;}
		}
	}
	#getgame { 
		&:hover, &:focus {background: $game; 	color: #000; 
			svg {fill: #000;}
		}
	}
	#getsong { 
		&:hover, &:focus {background: $song; 	color: #000; 
			svg {fill: #000;}
		}
	}
	#getbook { 
		&:hover, &:focus {background: $book; 	color: #000; 
			svg {fill: #000;}
		}
	}
	
	
	
	
	
}


#wrapper {height: calc(100vh - 60px); padding: 20px;
display: flex;     align-items: center;
    justify-items: center;
    width: 100%;
}

#result.active {
	//border: 3px solid #fff;
color: #fff;
		#result-year{margin-top: 0;}
}

#result {color: #fff;background: #000;
//border: 3px dashed #767676;
border-radius: 20px;
	height: 100%;
	padding: 30px;
	width: 320px;
	height: 400px;
		display: flex;
	flex-wrap: wrap;
	margin: 0 auto;
	flex-direction: column;
	position: relative;
//	#result-year{margin-top: auto;}
	span {
    display: inline-block;
    align-self: flex-start;
    color: #000;
    padding: 0px 8px;
    font-weight: 800;
    text-transform: uppercase;
}
	span {background: #FFF;}
	span.film {background: $film;}
	span.tvshow {background: $tvshow;}
	span.game {background: $game;}
	span.song {background: $song;}
	span.book {background: $book;}
	
	#result-author {    border-top: 1px solid rgba(255,255,255,0.4);
    padding-top: 10px;}
	
}


@media (max-width: 576px) { 

#actions {
	button {
		span {display: none;}
	}
	
	
	}
}